$primary-color: #f4f4f4;
$secondary-color: #e8e1ab;
$third-color: #c49935;
$text-color: #6c6c6c;
$font-stack: Helvetica, sans-serif;

%navigation-items-shared {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

